@charset "UTF-8";
/*
    这是首页的样式
 */
$yanse:red;
$padding:50px 100px;
$height:100px 200px 300px;//数组方法
$fontSize:12 !default;//设置全部字体大小
$colorObj:(a:red,b:green,c:blue);//对象方法
// 遍历,栅格系统布局
$page:12;//14 15 16
@for $i from 1 through $page{
  .col-xs-#{$i}{
    width : percenttage($i / 12)
  }
};

.nav {
  width: 1000px;
  height: nth($height,1);//获取$height的第一个值//160px;
  padding: $padding 10px 15px;
  line-height: 40px;
  background-color: $yanse;//orange;
  color: map-get($colorObj,b);
}

.nav ul {
  width: 2400px;
  padding-top: 10px;
  padding-bottom: 2em;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav li {
  float: left;
  padding: 5px 15px;
  padding-top: 10px;
  position: relative;
  color: #666;
}

.nav li a {
  display: inline-block;
  color: #fff;
}

.nav li a.home {
  background-color: orange;
}

.nav li ul {
  position: absolute;
  padding: 5px 20px;
  color: #ccc;
}

.nav li ul a:hover {
  color: #5b8c58;
}

.nav li:last-child {
  float: right;
}
